@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Smart Shopping Demo Process Sample</h2>
    <hr />
    <p>Click <a href="/Home/SetFilter">SetFilter</a> link to change signal strength filter values.</p>
</div>
