
@{
    ViewBag.Title = "RawData";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string einvoiceDoc = HttpUtility.HtmlDecode(ViewData["einvoiceDoc"].ToString());
}

<h2>Invoice RawData</h2>
<pre>
@einvoiceDoc
</pre>

