@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "B2B Service Center";
}
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <p>Please contact with us if you have any advice.</p>
    <a class="btn btn-primary btn-lg" href="~/Home/About" role="button">Learn more &raquo;</a>
</div>
<div class="raw">
    <div class="col-md-12">
        <ul class="class=" list-group"">
            <li class="list-group-item">
                <span class="badge">Address</span>
                <address>
                    台北市 11167 士林區承德路四段 166 號<br />
                    No. 166, Sec. 4, Chengde Rd., Shihlin District, Taipei 11167, Taiwan
                </address>
            </li>
            <li class="list-group-item">
                <span class="badge">Phone</span>
                <address>
                    <span class="badge">Office</span>&nbsp;+886-2-2881-0721 Ext: 28902, 28921<br />
                    <span class="badge">Fax</span>&nbsp;+886-2-2880-9696
                </address>

            </li>
            <li class="list-group-item">
                <span class="badge">Email</span>
                <address>
                    <span class="badge">Support</span>&nbsp;<a href="mailto:iecedisupport@inventec.com">iecedisupport@inventec.com</a><br />
                    <span class="badge">Business</span>&nbsp;<a href="mailto:edi@inventec.com">edi@inventec.com</a>
                </address>
            </li>
            <li class="list-group-item">
                <span class="badge">統一編號</span>
                <address>04322046</address>
            </li>
        </ul>
    </div>
</div>