<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
    <connectionStrings xdt:Transform="Replace">
        <add name="SmartShoppingSampleDB" connectionString="Server=tcp:avatar.database.windows.net,1433;Database=Avatar;User ID=avatardbo@Avatar;Password=Avatar+123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <!-- the following keys are credentials that should be configured -->
    <appSettings xdt:Transform="Replace">
        <add key="IothubConnectionString" value="HostName=IoTAvatar.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=UZdoTvxNGzyJBO0DB6MBFtngU5HZwMqOHhFdbim946E=" />
      <!--         
        //To learn how to get a client app ID, see Register a client app (https://msdn.microsoft.com/en-US/library/dn877542.aspx#clientID)
        -->
      <add key="PowerBIClientAppId" value="(AzureConfig- PowerBI Client AppId)"/>
      <add key="PowerBIUsername" value="wu.bryan@inventec.com"/>
      <add key="PowerBIPassword" value="bryan8265"/>
      <add key="PowerBIReportId" value="(AzureConfig- PowerBI Report ID)" />
      <add key="ProcessBaseUrl" value="(AzureConfig- Process Base Url)"/>
      <add key="ServiceBaseUrl" value="(AzureConfig- Service Base Url)"/>
    </appSettings>
    <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
