<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iotHubConnectionString" value="HostName=IoTBryanDemo.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=n1CNg4GEJajkUo5Wi0R94/KZJ+XqifWYjsbPI4d3KBc="/>
    <add key="iotHubUri" value="IoTBryanDemo.azure-devices.net"></add>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>