@{
    ViewBag.Title = "B2B Service";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Help to tracking messages of PI [DEV/QAS/PROD (PID/PIQ/PIP)]</p>
    <a href="~/B2BMT/MT_DB/" class="btn btn-primary btn-lg">Go to Message Tracking &raquo;</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can get raw data by message id from the following web api page.
        </p>
        <a class="btn btn-default" href="~/Home/Test/6e33c3f4-0c40-11e6-a6ca-0000004d0a76">Getting Rawdata through PID/PIQ/PIP web api &raquo;</a>
    </div>
</div>