@model IEnumerable<Barcelona.Models.vShareFileGroupUsers>
<table id="browser" class="jtable" style="table-layout: fixed; font-size: 1em; border: 0px;">
    @foreach (var item in Model)
    {
        <tr>
            <td style="width:20px;">
                @Html.ActionLink(" ", "AddUserIntoGroup", "ShareFileGroups", new {UserId = item.UserId, Id = item.Id, GroupId = item.GroupId, record = true }, new { style = "background: url('" + Url.Content("~/Content/Images/Update.jpg") + "') no-repeat top left;background-size: 1.0em auto;height:1.0em;width:auto;display:block;text-indent:-9999px;" })
            </td>
            <td>
                <a href="@Html.ValueFor(modelItem=>item.UserEmail)" target="_blank">@Html.DisplayFor(modelItem => item.UserName)</a>
            </td>
        </tr>
    }
</table>