<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
	  <webServices>
        <protocols>
          <add name="HttpPost" />
          <add name="HttpGet" />
        </protocols>
      </webServices>
    </system.web>
  <appSettings>
	<!-- Create by Andy Kuo, Marked by Bryan Wu, 2023-01-31 -->
    <!--<add key="API_Key" value="096481b7b31c419ab91423ea619cd486" />-->
	<add key="API_Key" value="0b22b8b5f14f4954957a3d794620f25c" />
    <add key="userid" value="SAPservicePRD" />

    <add key="SAPBI" value="Data Source=IEC1-FP-02.IEC.inventec;User Id=commdbo;Password=;Connect Timeout=600;Initial Catalog=SAPBI" />
	<add key="KMConnStr" value="Data Source=IEC1-KMDB-PRD.IEC.INVENTEC;User Id=kmprduser;Password=Iec+123;Connect Timeout=300;Initial Catalog=KMDBPSGPRD"/>
    <!--add key="SETConn" value="Data Source=ipc-erp-basicdb1.ies.inventec;User Id=commdbo;Password=comm+4321;Connect Timeout=600;Initial Catalog=CP60SET4H" /-->
  </appSettings>
</configuration>
