<appSettings>
    <add key="IothubConnectionString" value="HostName=IoTAvatar.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=UZdoTvxNGzyJBO0DB6MBFtngU5HZwMqOHhFdbim946E=" />
    <!--         
        //To learn how to get a client app ID, see Register a client app (https://msdn.microsoft.com/en-US/library/dn877542.aspx#clientID)
    -->
    <add key="PowerBIClientAppId" value="(AzureConfig- PowerBI Client AppId)"/>
    <add key="PowerBIUsername" value="(AzureConfig- PowerBI Userame)"/>
    <add key="PowerBIPassword" value="(AzureConfig- PowerBI Password)"/>
    <add key="PowerBIReportId" value="(AzureConfig- PowerBI Report ID)" />
    <add key="ProcessBaseUrl" value="(AzureConfig- Process Base Url)"/>
    <add key="ServiceBaseUrl" value="(AzureConfig- Service Base Url)"/>
</appSettings>