<div class="jumbotron">
    <h1>einvoice</h1>
    <p class="lead">inventec einvoice is a Web application using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            einvoice Web API is easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. einvoice Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="~/api/eInvoiceDoc/Get/5" target="_blank">einvoice QREncrypter String &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Services/QREncryptService.asmx" target="_blank">QREncrypter Service &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Services/QREncryptService.asmx?WSDL" target="_blank">QREncrypter Service WSDL&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get QRCode Example</h2>
        <p>View Sample QRCode data.</p>
        <p><a class="btn btn-default" href="~/QRTool/Index" target="_blank">View sample data &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test new QRCode data</h2>
        <p>It is a UI for you to input QRCode data and generate encrypted string</p>
        <p><a class="btn btn-default" href="~/QRTool/Create" target="_blank">Create QRCode Data &raquo;</a></p>
    </div>
</div>
