@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>B2B Statistic</h1>
    <p class="lead">Monitoring B2B Oracle DB Session &amp; Process!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Upper limitation:<br />
            80% at Session, Process
        </p>
        <a class="btn btn-default" href="~/Statistic/MonitorDB/">Go to Monitor Session &amp; Process &raquo;</a>
    </div>
</div>

