<connectionStrings>
    <add name="SmartShoppingSampleDB" connectionString="Server=tcp:avatar.database.windows.net,1433;Database=Avatar;User ID=avatardbo@Avatar;Password=Avatar+123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30"
        providerName="System.Data.SqlClient" />
</connectionStrings>
