<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LogonID" value="IEC\ENSAlert" />
    <add key="Password" value="ensalert" />
    <add key ="invMailServer" value ="mail.iec.inventec.com"/>
    <add key ="invIMP4Port" value ="993"/>
    <add key ="invDefaultMailboxLogonID" value ="IEC\ENSAlert"/>
    <add key ="invDefaultMailboxPassword" value ="ensalert"/>
    <add key="GamilServer" value="imap.gmail.com"/>
    <add key="GmailIMP4Port" value="993"/>
    <add key="LogDBStatusUri" value="http://iec1-b2bapp.iec.inventec/B2BService/Statistic/LogDBStatus"/>
    <add key="TimeInterval" value="300"/>
  </appSettings>
</configuration>