@{
    ViewBag.Title = "Barcelona Mobile Web";
}

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("Media Video", "Index", "MediaFile")</li>
    <li>@Html.ActionLink("Service Center", "Manage", "Home")</li>
</ul>
