<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="transformConfiguration" type="TransformReport.Configuration.TransformSection, TransformReport" />
  </configSections>
  <appSettings>
    <add key="HALL" value="會所"/>
    <add key="ROWS" value="小區"/>
    <add key="REPORT" value="報表"/>
  </appSettings>
  <transformConfiguration sourceTopHeaderRow="0" sourceTopHeaderCol="3" sourceLeftHeaderRow="2" sourceLeftHeaderCol="2" seperator="@" templateExcelFile="ST2018(統計到小區).xls">
    <會所>
      <!-- Begin of H37 以列數計算資料匯入的起始位置 targetLeftHeaderRow -->
      <add name="37" targetTopHeaderRow="1" targetTopHeaderCol="11" targetLeftHeaderRow="4" targetLeftHeaderCol="1">
        <小區>
          <add name="1-1小區" value="一大區@1" />
          <add name="1-2小區" value="一大區@2" />
          <add name="1-3小區" value="一大區@3" />
          <add name="1-4小區" value="一大區@4" />
          <add name="1-5小區" value="一大區@5" />
          <add name="2-1小區" value="二大區@1" />
          <add name="2-2小區" value="二大區@2" />
          <add name="2-3小區" value="二大區@3" />
          <add name="2-4小區" value="二大區@4" />
          <add name="2-5小區" value="二大區@5" />
          <add name="2-6小區" value="二大區@6" />
		      <add name="2-7小區" value="二大區@7" />
          <add name="3-1小區" value="三大區@1" />
          <add name="3-2小區" value="三大區@2" />
          <add name="3-3小區" value="三大區@3" />
          <add name="3-4小區" value="三大區@4" />
          <add name="3-5小區" value="三大區@5" />
          <add name="3-6小區" value="三大區@6" />
          <add name="3-7小區" value="三大區@7" />
          <add name="3-8小區" value="三大區@8" />
          <add name="3-9小區" value="三大區@9" />
        </小區>
        <報表>
          <add name="社區" HeaderCols="1" ExcelFile="H37A">
		      <!-- 若有到排時，要改HeaderCols = 2 -->
            <欄位>
              <add name="主日" value="主日人數@小計" />
              <add name="主日申言" value="主日人數@主日&#xA;申言" />
              <add name="主日：福音朋友" value="主日人數@福音&#xA;朋友" />
              <add name="家聚會" value="小排生活@家聚會@小計" />
              <add name="家聚會出訪" value="小排生活@家聚會@出訪" />
              <add name="家聚會受訪" value="小排生活@家聚會@受訪" />
              <add name="小排" value="小排生活@小排" />
              <add name="晨興" value="小排生活@晨興&#xA;晚興" />
              <add name="禱告" value="小排生活@禱告" />
              <add name="福音出訪" value="小排生活@福音@出訪" />
              <add name="福音受訪" value="小排生活@福音@受訪" />
              <add name="召會生活" value="召會&#xA;生活" />
              <add name="當週受浸" value="受浸統計@本週@受浸人數" />
              <add name="今年受浸" value="受浸統計@本年@受浸累計" />
            </欄位>
          </add>
          <add name="兒童" HeaderCols="1" ExcelFile="H37C">
            <排>
              <add name="1-1小區" value="一大區@1" />
              <add name="1-2小區" value="一大區@2" />
              <add name="1-3小區" value="一大區@3" />
              <add name="1-4小區" value="一大區@4" />
              <add name="2-1小區" value="二大區@1" />
              <add name="2-2小區" value="二大區@2" />
              <add name="2-3小區" value="二大區@3" />
              <add name="2-4小區" value="二大區@4" />
              <add name="2-5小區" value="二大區@5" />
              <add name="2-6小區" value="二大區@6" />
              <add name="2-7小區" value="二大區@7" />
              <add name="3-1小區" value="三大區@1" />
              <add name="3-2小區" value="三大區@2" />
              <add name="3-3小區" value="三大區@3" />
              <add name="3-4小區" value="三大區@4" />
              <add name="3-5小區" value="三大區@5" />
              <add name="3-6小區" value="三大區@6" />
              <add name="3-7小區" value="三大區@7" />
              <add name="3-8小區" value="三大區@8" />
              <add name="3-9小區" value="三大區@9" />
            </排>
            <欄位>
              <add name="小排" value="兒童排&#xA;(兒童)" />
              <!-- 這裏的“小排”是指來源檔標題欄的小排，value則是目的檔的標題欄 -->
              <add name="兒童主日" value="主日&#xA;(兒童)" />
            </欄位>
          </add>
        </報表>
      </add>
      <!-- End   of H37 -->
      <!-- Begin of H60 -->
      <add name="60" targetTopHeaderRow="1" targetTopHeaderCol="11" targetLeftHeaderRow="29" targetLeftHeaderCol="1">
        <小區>
          <add name="1-1小區" value="一大區@1" />
          <add name="1-2小區" value="一大區@2" />
		      <add name="1-3小區" value="一大區@3" />
          <add name="2-1小區" value="二大區@1" />
          <add name="2-2小區" value="二大區@2" />
          <add name="2-3小區" value="二大區@3" />
          <add name="2-4小區" value="二大區@4" />
          <add name="3-1小區" value="三大區@1" />
          <add name="3-2小區" value="三大區@2" />
          <add name="3-3小區" value="三大區@3" />
		      <add name="3-4小區" value="三大區@4" />
          <add name="學一小區" value="學生&#xA;大區@學一" />
          <add name="學二小區" value="學生&#xA;大區@學二" />
          <add name="學三小區" value="學生&#xA;大區@學三" />
          <add name="學四小區" value="學生&#xA;大區@學四" />
		      <add name="大專區" value="學生&#xA;大區@大專" />
          <add name="青職區" value="學生&#xA;大區@青職" />
        </小區>
        <報表>
          <add name="社區" HeaderCols="1" ExcelFile="H60A">
            <欄位>
              <add name="主日" value="主日人數@小計" />
              <add name="主日申言" value="主日人數@主日&#xA;申言" />
              <add name="主日：福音朋友" value="主日人數@福音&#xA;朋友" />
              <add name="家聚會" value="小排生活@家聚會@小計" />
              <add name="家聚會出訪" value="小排生活@家聚會@出訪" />
              <add name="家聚會受訪" value="小排生活@家聚會@受訪" />
              <add name="小排" value="小排生活@小排" />
              <add name="晨興" value="小排生活@晨興&#xA;晚興" />
              <add name="禱告" value="小排生活@禱告" />
              <add name="福音出訪" value="小排生活@福音@出訪" />
              <add name="福音受訪" value="小排生活@福音@受訪" />
              <add name="召會生活" value="召會&#xA;生活" />
              <add name="當週受浸" value="受浸統計@本週@受浸人數" />
              <add name="今年受浸" value="受浸統計@本年@受浸累計" />
            </欄位>
          </add>
          <add name="兒童" HeaderCols="1" ExcelFile="H60C">
            <排>
              <add name="1-1小區" value="一大區@1" />
              <add name="1-2小區" value="一大區@2" />
			        <add name="1-3小區" value="一大區@3" />
              <add name="2-1小區" value="二大區@1" />
              <add name="2-2小區" value="二大區@2" />
              <add name="2-3小區" value="二大區@3" />
              <add name="2-4小區" value="二大區@4" />
              <add name="3-1小區" value="三大區@1" />
              <add name="3-2小區" value="三大區@2" />
              <add name="3-3小區" value="三大區@3" />
			        <add name="3-4小區" value="三大區@4" />
            </排>
            <欄位>
              <add name="小排" value="兒童排&#xA;(兒童)" />
              <add name="兒童主日" value="主日&#xA;(兒童)" />
            </欄位>
          </add>
        </報表>
      </add>
      <!-- End   of H60 -->
      <!-- Begin of H61 -->
      <add name="61" targetTopHeaderRow="1" targetTopHeaderCol="11" targetLeftHeaderRow="52" targetLeftHeaderCol="1">
        <小區>
          <add name="1-1小區" value="一大區@1" />
          <add name="1-2小區" value="一大區@2" />
          <add name="1-3小區" value="一大區@3" />
          <add name="1-4小區" value="一大區@4" />
          <add name="1-5小區" value="一大區@5" />
		      <add name="1-6小區" value="一大區@6" />
          <add name="2-1小區" value="二大區@1" />
          <add name="2-2小區" value="二大區@2" />
          <add name="2-3小區" value="二大區@3" />
          <add name="2-4小區" value="二大區@4" />
		      <add name="2-5小區" value="二大區@5" />
		      <add name="2-6小區" value="二大區@6" />
          <add name="3-1小區" value="三大區@1" />
          <add name="3-2小區" value="三大區@2" />
          <add name="3-3小區" value="三大區@3" />
          <add name="3-4小區" value="三大區@4" />
		      <add name="學1小區" value="學生&#xA;大區@學一" />
        </小區>
        <報表>
          <add name="社區" HeaderCols="1" ExcelFile="H61A">
            <欄位>
              <add name="主日" value="主日人數@小計" />
              <add name="主日_福音朋友" value="主日人數@福音&#xA;朋友" />
              <add name="主日申言" value="主日人數@主日&#xA;申言" />
              <add name="家聚會" value="小排生活@家聚會@小計" />
              <add name="家聚會出訪" value="小排生活@家聚會@出訪" />
              <add name="家聚會受訪" value="小排生活@家聚會@受訪" />
              <add name="小排" value="小排生活@小排" />
              <add name="晨興" value="小排生活@晨興&#xA;晚興" />
              <add name="禱告" value="小排生活@禱告" />
              <add name="福音出訪" value="小排生活@福音@出訪" />
              <add name="福音受訪" value="小排生活@福音@受訪" />
              <add name="召會生活" value="召會&#xA;生活" />
              <add name="當週受浸" value="受浸統計@本週@受浸人數" />
              <add name="今年受浸" value="受浸統計@本年@受浸累計" />
            </欄位>
          </add>
          <add name="兒童" HeaderCols="1" ExcelFile="H61C">
            <排>
              <add name="1-1小區" value="一大區@1" />
              <add name="1-2小區" value="一大區@2" />
              <add name="1-3小區" value="一大區@3" />
              <add name="1-4小區" value="一大區@4" />
              <add name="1-5小區" value="一大區@5" />
			        <add name="1-6小區" value="一大區@6" />
              <add name="2-1小區" value="二大區@1" />
              <add name="2-2小區" value="二大區@2" />
              <add name="2-3小區" value="二大區@3" />
              <add name="2-4小區" value="二大區@4" />
			        <add name="2-5小區" value="二大區@5" />
			        <add name="2-6小區" value="二大區@6" />
              <add name="3-1小區" value="三大區@1" />
              <add name="3-2小區" value="三大區@2" />
              <add name="3-3小區" value="三大區@3" />
              <add name="3-4小區" value="三大區@4" />
            </排>
            <欄位>
              <add name="小排" value="兒童排&#xA;(兒童)" />
              <add name="兒童主日" value="主日&#xA;(兒童)" />
            </欄位>
          </add>
        </報表>
      </add>
      <!-- End   of H61 -->
      <!-- Begin of H12 -->
      <add name="12" targetTopHeaderRow="1" targetTopHeaderCol="11" targetLeftHeaderRow="72" targetLeftHeaderCol="1">
        <小區>
          <add name="3-1小區" value="三大區@1" />
          <add name="3-2小區" value="三大區@2" />
          <add name="3-3小區" value="三大區@3" />
          <add name="3-4小區" value="三大區@4" />
          <add name="3-5小區" value="三大區@5" />
          <add name="3-6小區" value="三大區@6" />
		      <add name="3-7小區" value="三大區@7" />
          <add name="4-1小區" value="四大區@1" />
          <add name="4-2小區" value="四大區@2" />
          <add name="4-3小區" value="四大區@3" />
          <add name="4-4小區" value="四大區@4" />
          <add name="4-5小區" value="四大區@5" />
		      <add name="4-6小區" value="四大區@6" />
		      <add name="4-7小區" value="四大區@7" />
		      <add name="學1小區" value="學生&#xA;大區@學一" />
        </小區>
        <報表>
          <add name="社區" HeaderCols="1" ExcelFile="H12A">
            <欄位>
              <add name="主日" value="主日人數@小計" />
              <add name="主日_福音朋友" value="主日人數@福音&#xA;朋友" />
              <add name="主日申言" value="主日人數@主日&#xA;申言" />
              <add name="家聚會" value="小排生活@家聚會@小計" />
              <add name="家聚會出訪" value="小排生活@家聚會@出訪" />
              <add name="家聚會受訪" value="小排生活@家聚會@受訪" />
              <add name="小排" value="小排生活@小排" />
              <add name="晨興" value="小排生活@晨興&#xA;晚興" />
              <add name="禱告" value="小排生活@禱告" />
              <add name="福音出訪" value="小排生活@福音@出訪" />
              <add name="福音受訪" value="小排生活@福音@受訪" />
              <add name="召會生活" value="召會&#xA;生活" />
              <add name="當週受浸" value="受浸統計@本週@受浸人數" />
              <add name="今年受浸" value="受浸統計@本年@受浸累計" />
            </欄位>
          </add>
          <add name="兒童" HeaderCols="1" ExcelFile="H12C">
            <排>
              <add name="3-1小區" value="三大區@1" />
              <add name="3-2小區" value="三大區@2" />
              <add name="3-3小區" value="三大區@3" />
              <add name="3-4小區" value="三大區@4" />
              <add name="3-5小區" value="三大區@5" />
              <add name="3-6小區" value="三大區@6" />
			        <add name="3-7小區" value="三大區@7" />
              <add name="4-1小區" value="四大區@1" />
              <add name="4-2小區" value="四大區@2" />
              <add name="4-3小區" value="四大區@3" />
              <add name="4-4小區" value="四大區@4" />
              <add name="4-5小區" value="四大區@5" />
			        <add name="4-6小區" value="四大區@6" />
			        <add name="4-7小區" value="四大區@7" />
            </排>
            <欄位>
              <add name="小排" value="兒童排&#xA;(兒童)" />
              <add name="兒童主日" value="主日&#xA;(兒童)" />
            </欄位>
          </add>
        </報表>
      </add>
      <!-- End   of H12 -->
      <!-- Begin of H36 -->
      <add name="36" targetTopHeaderRow="1" targetTopHeaderCol="11" targetLeftHeaderRow="91" targetLeftHeaderCol="1">
        <小區>
          <add name="一區" value="社區@1" />
          <add name="二區" value="社區@2" />
          <add name="三區" value="社區@3" />
          <add name="四區" value="社區@4" />
		      <add name="五區" value="社區@5" />
          <add name="學1區" value="學生&#xA;大區@學一&#xA;(社區)" />
          <add name="學2區" value="學生&#xA;大區@學二&#xA;(校園)" />
        </小區>
        <報表>
          <add name="社區" HeaderCols="1" ExcelFile="H36A">
            <欄位>
              <add name="主日" value="主日人數@小計" />
              <add name="主日_福音朋友" value="主日人數@福音&#xA;朋友" />
              <add name="主日申言" value="主日人數@主日&#xA;申言" />
              <add name="家聚會" value="小排生活@家聚會@小計" />
              <add name="家聚會出訪" value="小排生活@家聚會@出訪" />
              <add name="家聚會受訪" value="小排生活@家聚會@受訪" />
              <add name="小排" value="小排生活@小排" />
              <add name="晨興" value="小排生活@晨興&#xA;晚興" />
              <add name="禱告" value="小排生活@禱告" />
              <add name="福音出訪" value="小排生活@福音@出訪" />
              <add name="福音受訪" value="小排生活@福音@受訪" />
              <add name="召會生活" value="召會&#xA;生活" />
              <add name="當週受浸" value="受浸統計@本週@受浸人數" />
              <add name="今年受浸" value="受浸統計@本年@受浸累計" />
            </欄位>
          </add>
          <add name="兒童" HeaderCols="1" ExcelFile="H36C">
            <排>
              <add name="一區" value="社區@1" />
              <add name="二區" value="社區@2" />
              <add name="三區" value="社區@3" />
              <add name="四區" value="社區@4" />
			        <add name="五區" value="社區@5" />
            </排>
            <欄位>
              <add name="小排" value="兒童排&#xA;(兒童)" />
              <add name="兒童主日" value="主日&#xA;(兒童)" />
            </欄位>
          </add>
        </報表>
      </add>
      <!-- End   of H36 -->
    </會所>
  </transformConfiguration>
</configuration>