<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="transformConfiguration" type="TransformReport.Configuration.TransformSection, TransformReport" />
    </configSections>

    <transformConfiguration sourceTopHeaderRow="0" sourceTopHeaderCol="4" sourceLeftHeaderRow="2" sourceLeftHeaderCol="2" seperator="@" templateExcelFile="ST2016.xls">
        <會所>
            <add name="12" targetTopHeaderRow="1" targetTopHeaderCol="12" targetLeftHeaderRow="181" targetLeftHeaderCol="1">
                <排>
                    <add name="3-1小區@1排" value="三大區@1@1" />
					<add name="3-1小區@2排" value="三大區@1@2" />
					<add name="3-2小區@1排" value="三大區@2@1" />
					<add name="3-2小區@2排" value="三大區@2@2" />
					<add name="3-3小區@1排" value="三大區@3@1" />
					<add name="3-3小區@2排" value="三大區@3@2" />
					<add name="3-4小區@1排" value="三大區@4@1" />
					<add name="3-4小區@2排" value="三大區@4@2" />
					<add name="3-5小區@1排" value="三大區@5@1" />
					<add name="3-5小區@2排" value="三大區@5@2" />
					<add name="3-6小區@1排" value="三大區@6@1" />
					<add name="3-6小區@2排" value="三大區@6@2" />
					<add name="4-1小區@1排" value="四大區@1@1" />
					<add name="4-1小區@2排" value="四大區@1@2" />
					<add name="4-2小區@1排" value="四大區@2@1" />
					<add name="4-2小區@2排" value="四大區@2@2" />
					<add name="4-3小區@1排" value="四大區@3@1" />
					<add name="4-3小區@2排" value="四大區@3@2" />
					<add name="4-3小區@3排" value="四大區@3@3" />
					<add name="4-3小區@4排" value="四大區@3@4" />
					<add name="4-3小區@5排" value="四大區@3@5" />
					<add name="4-3小區@6排" value="四大區@3@6" />
					<add name="4-4小區@1排" value="四大區@4@1" />
					<add name="4-4小區@2排" value="四大區@4@2" />
					<add name="4-4小區@3排" value="四大區@4@3" />
					<add name="4-5小區@1排" value="四大區@5@1" />
					<add name="4-5小區@2排" value="四大區@5@2" />
					<add name="4-5小區@3排" value="四大區@5@3" />
					<add name="學-1小區@1排" value="學生&#xA;大區@學一@1" />
					<add name="學-1小區@2排" value="學生&#xA;大區@學一@2" />
					<add name="學-1小區@3排" value="學生&#xA;大區@學一@3" />
					<add name="學-2小區@1排" value="學生&#xA;大區@學二@1" />
					<add name="學-2小區@2排" value="學生&#xA;大區@學二@2" />
					<add name="學-2小區@3排" value="學生&#xA;大區@學二@3" />
					<add name="學-2小區@4排" value="學生&#xA;大區@學二@4" />
					<add name="學-3小區@1排" value="學生&#xA;大區@學三@1" />
					<add name="學-3小區@2排" value="學生&#xA;大區@學三@2" />
				</排>
                <報表>
                    <add name="社區" HeaderCols="2">
                        <欄位>
							<add name="主日" value="主日人數@小計" />
							<add name="主日_福音朋友" value="主日人數@福音&#xA;朋友" />
							<add name="主日申言" value="主日人數@主日&#xA;申言" />
							<add name="家聚會" value="小排生活@家聚會@小計" />
							<add name="家聚會出訪" value="小排生活@家聚會@出訪" />
							<add name="家聚會受訪" value="小排生活@家聚會@受訪" />
							<add name="小排" value="小排生活@小排" />
							<add name="晨興" value="小排生活@晨興&#xA;晚興" />
                            <add name="禱告" value="小排生活@禱告" />
							<add name="福音出訪" value="小排生活@福音@出訪" />
							<add name="福音受訪" value="小排生活@福音@受訪" />
                            <add name="召會生活" value="召會&#xA;生活" />
                            <add name="當週受浸" value="受浸統計@本週@受浸人數" />
                            <add name="今年受浸" value="受浸統計@本年@受浸累計" />
                        </欄位>
                    </add>
                    <add name="兒童" HeaderCols="1">
						<排>
							<add name="3-1小區" value="三大區@1@區小計" />
							<add name="3-2小區" value="三大區@2@區小計" />
							<add name="3-3小區" value="三大區@3@區小計" />
							<add name="3-4小區" value="三大區@4@區小計" />
							<add name="3-5小區" value="三大區@5@區小計" />
							<add name="3-6小區" value="三大區@6@區小計" />
							<add name="4-1小區" value="四大區@1@區小計" />
							<add name="4-2小區" value="四大區@2@區小計" />
							<add name="4-3小區" value="四大區@3@區小計" />
							<add name="4-4小區" value="四大區@4@區小計" />
							<add name="4-5小區" value="四大區@5@區小計" />
						</排>
                        <欄位>
                            <add name="小排" value="兒童排&#xA;(兒童)" />
                        </欄位>
                    </add>
                </報表>
            </add>


            <add name="61" targetTopHeaderRow="1" targetTopHeaderCol="12" targetLeftHeaderRow="121" targetLeftHeaderCol="1">
                <排>
                    <add name="1-1小區@1排" value="一大區@1@1" />
					<add name="1-1小區@2排" value="一大區@1@2" />
					<add name="1-2小區@1排" value="一大區@2@1" />
					<add name="1-2小區@2排" value="一大區@2@2" />
					<add name="1-3小區@1排" value="一大區@3@1" />
					<add name="1-3小區@2排" value="一大區@3@2" />
					<add name="1-4小區@1排" value="一大區@4@1" />
					<add name="1-4小區@2排" value="一大區@4@2" />
					<add name="1-5小區@1排" value="一大區@5@1" />
					<add name="1-5小區@2排" value="一大區@5@2" />
					<add name="1-5小區@3排" value="一大區@5@3" />
					<add name="2-1小區@1排" value="二大區@1@1" />
					<add name="2-1小區@2排" value="二大區@1@2" />
					<add name="2-2小區@1排" value="二大區@2@1" />
					<add name="2-2小區@2排" value="二大區@2@2" />
					<add name="2-3小區@1排" value="二大區@3@1" />
					<add name="2-3小區@2排" value="二大區@3@2" />
					<add name="2-3小區@3排" value="二大區@3@3" />
					<add name="2-4小區@1排" value="二大區@4@1" />
					<add name="2-4小區@2排" value="二大區@4@2" />
					<add name="2-4小區@3排" value="二大區@4@3" />
					<add name="3-1小區@1排" value="三大區@1@1" />
					<add name="3-1小區@2排" value="三大區@1@2" />
					<add name="3-2小區@1排" value="三大區@2@1" />
					<add name="3-2小區@2排" value="三大區@2@2" />
					<add name="3-3小區@1排" value="三大區@3@1" />
					<add name="3-3小區@2排" value="三大區@3@2" />
					<add name="3-3小區@3排" value="三大區@3@3" />
					<add name="3-3小區@4排" value="三大區@3@4" />
					<add name="3-3小區@5排" value="三大區@3@5" />
					<add name="3-3小區@6排" value="三大區@3@6" />
					<add name="學-1小區@1排" value="學生&#xA;大區@學一@1" />
					<add name="學-1小區@2排" value="學生&#xA;大區@學一@2" />
					<add name="學-1小區@3排" value="學生&#xA;大區@學一@3" />
					<add name="學-2小區@1排" value="學生&#xA;大區@學二@1" />
					<add name="學-2小區@2排" value="學生&#xA;大區@學二@2" />
					<add name="學-2小區@3排" value="學生&#xA;大區@學二@3" />
					<add name="學-2小區@4排" value="學生&#xA;大區@學二@4" />
					<add name="學-3小區@1排" value="學生&#xA;大區@學三@1" />
					<add name="學-3小區@2排" value="學生&#xA;大區@學三@2" />
				</排>
                <報表>
                    <add name="社區" HeaderCols="2">
                        <欄位>
							<add name="主日" value="主日人數@小計" />
							<add name="主日_福音朋友" value="主日人數@福音&#xA;朋友" />
							<add name="主日申言" value="主日人數@主日&#xA;申言" />
							<add name="家聚會" value="小排生活@家聚會@小計" />
							<add name="家聚會出訪" value="小排生活@家聚會@出訪" />
							<add name="家聚會受訪" value="小排生活@家聚會@受訪" />
							<add name="小排" value="小排生活@小排" />
							<add name="晨興" value="小排生活@晨興&#xA;晚興" />
                            <add name="禱告" value="小排生活@禱告" />
							<add name="福音出訪" value="小排生活@福音@出訪" />
							<add name="福音受訪" value="小排生活@福音@受訪" />
                            <add name="召會生活" value="召會&#xA;生活" />
                            <add name="當週受浸" value="受浸統計@本週@受浸人數" />
                            <add name="今年受浸" value="受浸統計@本年@受浸累計" />
                        </欄位>
                    </add>
                    <add name="兒童" HeaderCols="1">
						<排>
							<add name="1-1小區" value="一大區@1@區小計" />
							<add name="1-2小區" value="一大區@2@區小計" />
							<add name="1-3小區" value="一大區@3@區小計" />
							<add name="1-4小區" value="一大區@4@區小計" />
							<add name="1-5小區" value="一大區@5@區小計" />
							<add name="2-1小區" value="二大區@1@區小計" />
							<add name="2-2小區" value="二大區@2@區小計" />
							<add name="2-3小區" value="二大區@3@區小計" />
							<add name="2-4小區" value="二大區@4@區小計" />
							<add name="3-1小區" value="三大區@1@區小計" />
							<add name="3-2小區" value="三大區@2@區小計" />
							<add name="3-3小區" value="三大區@3@區小計" />
							
						</排>
                        <欄位>
                            <add name="小排" value="兒童排&#xA;(兒童)" />
                        </欄位>
                    </add>
                </報表>
            </add>










            <add name="36" targetTopHeaderRow="1" targetTopHeaderCol="12" targetLeftHeaderRow="236" targetLeftHeaderCol="1">
				<排>
                    <add name="一區@1-1排" value="社區@1@1" />
					<add name="一區@1-2排" value="社區@1@2" />
					<add name="一區@1-3排" value="社區@1@3" />
					<add name="二區@2-1排" value="社區@2@1" />
					<add name="二區@2-2排" value="社區@2@2" />
					<add name="二區@2-3排" value="社區@2@3" />
					<add name="三區@3-1排" value="社區@3@1" />
					<add name="三區@3-2排" value="社區@3@2" />
					<add name="三區@3-3排" value="社區@3@3" />
					<add name="四區@4-1排" value="社區@4@1" />
					<add name="四區@4-2排" value="社區@4@2" />
					<add name="四區@4-3排" value="社區@4@3" />
                    <add name="學一區-社區@S1-1排" value="學生&#xA;大區@學一&#xA;(社區)@1" />
					<add name="學一區-社區@S1-2排" value="學生&#xA;大區@學一&#xA;(社區)@2" />
					<add name="學二區-校園@S2-1排" value="學生&#xA;大區@學二&#xA;(校園)@1" />
					<add name="學二區-校園@S2-2排" value="學生&#xA;大區@學二&#xA;(校園)@2" />
					<add name="學二區-校園@S2-3排" value="學生&#xA;大區@學二&#xA;(校園)@3" />
					<add name="學二區-校園@S2-4排" value="學生&#xA;大區@學二&#xA;(校園)@4" />
					<add name="學二區-校園@S2-5排" value="學生&#xA;大區@學二&#xA;(校園)@5" />
				</排>
                <報表>
                    <add name="社區" HeaderCols="2">
                        <欄位>
							<add name="主日" value="主日人數@小計" />
							<add name="主日_福音朋友" value="主日人數@福音&#xA;朋友" />
							<add name="主日申言" value="主日人數@主日&#xA;申言" />
							<add name="家聚會" value="小排生活@家聚會@小計" />
							<add name="家聚會出訪" value="小排生活@家聚會@出訪" />
							<add name="家聚會受訪" value="小排生活@家聚會@受訪" />
							<add name="小排" value="小排生活@小排" />
							<add name="晨興-晚禱" value="小排生活@晨興&#xA;晚興" />
							<add name="禱告" value="小排生活@禱告" />
							<add name="福音出訪" value="小排生活@福音@出訪" />
							<add name="福音受訪" value="小排生活@福音@受訪" />
							<add name="召會生活" value="召會&#xA;生活" />
							<add name="當週受浸" value="受浸統計@本週@受浸人數" />
							<add name="今年受浸" value="受浸統計@本年@受浸累計" />
						</欄位>
					</add>
					<add name="兒童" HeaderCols="1">
						<排>
							<add name="一區" value="社區@1@區小計" />
							<add name="二區" value="社區@2@區小計" />
							<add name="三區" value="社區@3@區小計" />
							<add name="四區" value="社區@4@區小計" />
						</排>
                        <欄位>
                            <add name="小排" value="兒童排&#xA;(兒童)" />
                        </欄位>
                    </add>
                </報表>
            </add>
            <add name="37" targetTopHeaderRow="1" targetTopHeaderCol="12" targetLeftHeaderRow="4" targetLeftHeaderCol="1">
				<排>
                    <add name="1-1小區@1排" value="一大區@1@1" />
					<add name="1-1小區@2排" value="一大區@1@2" />
					<add name="1-2小區@1排" value="一大區@2@1" />
					<add name="1-2小區@2排" value="一大區@2@2" />
					<add name="1-2小區@3排" value="一大區@2@3" />
					<add name="1-3小區@1排" value="一大區@3@1" />
					<add name="1-3小區@2排" value="一大區@3@2" />
					<add name="1-4小區@1排" value="一大區@4@1" />
					<add name="1-4小區@2排" value="一大區@4@2" />
					<add name="2-1小區@1排" value="二大區@1@1" />
					<add name="2-1小區@2排" value="二大區@1@2" />
					<add name="2-1小區@3排" value="二大區@1@3" />
					<add name="2-2小區@1排" value="二大區@2@1" />
					<add name="2-2小區@2排" value="二大區@2@2" />
					<add name="2-3小區@1排" value="二大區@3@1" />
					<add name="2-3小區@2排" value="二大區@3@2" />
					<add name="2-3小區@3排" value="二大區@3@3" />
					<add name="2-4小區@1排" value="二大區@4@1" />
					<add name="2-4小區@2排" value="二大區@4@2" />
					<add name="2-4小區@3排" value="二大區@4@3" />
					<add name="3-1小區@1排" value="三大區@1@1" />
					<add name="3-1小區@2排" value="三大區@1@2" />
					<add name="3-1小區@3排" value="三大區@1@3" />
					<add name="3-2小區@1排" value="三大區@2@1" />
					<add name="3-2小區@2排" value="三大區@2@2" />
					<add name="3-3小區@1排" value="三大區@3@1" />
					<add name="3-3小區@2排" value="三大區@3@2" />
					<add name="3-4小區@1排" value="三大區@4@1" />
					<add name="3-4小區@2排" value="三大區@4@2" />
					<add name="3-5小區@1排" value="三大區@5@1" />
					<add name="3-5小區@2排" value="三大區@5@2" />
					<add name="3-6小區@1排" value="三大區@6@1" />
					<add name="3-6小區@2排" value="三大區@6@2" />
				</排>
                <報表>
                    <add name="社區" HeaderCols="2">
                        <欄位>
							<add name="主日" value="主日人數@小計" />
							<add name="主日申言" value="主日人數@主日&#xA;申言" />
							<add name="主日：福音朋友" value="主日人數@福音&#xA;朋友" />
							<add name="家聚會" value="小排生活@家聚會@小計" />
							<add name="家聚會出訪" value="小排生活@家聚會@出訪" />
							<add name="家聚會受訪" value="小排生活@家聚會@受訪" />
							<add name="小排" value="小排生活@小排" />
							<add name="晨興" value="小排生活@晨興&#xA;晚興" />
							<add name="禱告" value="小排生活@禱告" />
							<add name="福音出訪" value="小排生活@福音@出訪" />
							<add name="福音受訪" value="小排生活@福音@受訪" />
							<add name="召會生活" value="召會&#xA;生活" />
                            <add name="當週受浸" value="受浸統計@本週@受浸人數" />
                            <add name="今年受浸" value="受浸統計@本年@受浸累計" />
                        </欄位>
                    </add>
                    <add name="兒童" HeaderCols="1">
						<排>
							<add name="1-1小區" value="一大區@1@區小計" />
							<add name="1-2小區" value="一大區@2@區小計" />
							<add name="1-3小區" value="一大區@3@區小計" />
							<add name="1-4小區" value="一大區@4@區小計" />
							<add name="2-1小區" value="二大區@1@區小計" />
							<add name="2-2小區" value="二大區@2@區小計" />
							<add name="2-3小區" value="二大區@3@區小計" />
							<add name="2-4小區" value="二大區@4@區小計" />
							<add name="3-1小區" value="三大區@1@區小計" />
							<add name="3-2小區" value="三大區@2@區小計" />
							<add name="3-3小區" value="三大區@3@區小計" />
							<add name="3-4小區" value="三大區@4@區小計" />
							<add name="3-5小區" value="三大區@5@區小計" />
							<add name="3-6小區" value="三大區@6@區小計" />
						</排>
                        <欄位>
                            <add name="小排" value="兒童排&#xA;(兒童)" />
                        </欄位>
                    </add>
                </報表>
            </add>
			<add name="60" targetTopHeaderRow="1" targetTopHeaderCol="12" targetLeftHeaderRow="55" targetLeftHeaderCol="1">
				<排>
					<add name="1-1小區@1排" value="一大區@1@1" />
					<add name="1-1小區@2排" value="一大區@1@2" />
					<add name="1-1小區@3排" value="一大區@1@3" />
					<add name="1-2小區@1排" value="一大區@2@1" />
					<add name="1-2小區@2排" value="一大區@2@2" />
					<add name="1-3小區@1排" value="一大區@3@1" />
					<add name="1-3小區@2排" value="一大區@3@2" />
					<add name="1-4小區@1排" value="一大區@4@1" />
					<add name="1-4小區@2排" value="一大區@4@2" />
					<add name="1-4小區@3排" value="一大區@4@3" />
					<add name="2-1小區@1排" value="二大區@1@1" />
					<add name="2-1小區@2排" value="二大區@1@2" />
					<add name="2-1小區@3排" value="二大區@1@3" />
					<add name="2-2小區@1排" value="二大區@2@1" />
					<add name="2-2小區@2排" value="二大區@2@2" />
					<add name="2-2小區@3排" value="二大區@2@3" />
					<add name="2-2小區@4排" value="二大區@2@4" />
					<add name="2-2小區@5排" value="二大區@2@5" />
					<add name="2-3小區@1排" value="二大區@3@1" />
					<add name="2-3小區@2排" value="二大區@3@2" />
					<add name="2-4小區@1排" value="二大區@4@1" />
					<add name="2-4小區@2排" value="二大區@4@2" />
					<add name="3-1小區@1排" value="三大區@1@1" />
					<add name="3-1小區@2排" value="三大區@1@2" />
					<add name="3-1小區@3排" value="三大區@1@3" />
					<add name="3-2小區@1排" value="三大區@2@1" />
					<add name="3-2小區@2排" value="三大區@2@2" />
					<add name="3-3小區@1排" value="三大區@3@1" />
					<add name="3-3小區@2排" value="三大區@3@2" />
					<add name="學一小區@1排" value="學生&#xA;大區@學一@1" />
					<add name="學一小區@2排" value="學生&#xA;大區@學一@2" />
					<add name="學一小區@3排" value="學生&#xA;大區@學一@3" />
					<add name="學一小區@4排" value="學生&#xA;大區@學一@4" />
					<add name="學二小區@1排" value="學生&#xA;大區@學二@1" />
					<add name="學二小區@2排" value="學生&#xA;大區@學二@2" />
					<add name="學二小區@3排" value="學生&#xA;大區@學二@3" />
					<add name="學三小區@1排" value="學生&#xA;大區@學三@1" />
					<add name="學三小區@2排" value="學生&#xA;大區@學三@2" />
					<add name="學三小區@3排" value="學生&#xA;大區@學三@3" />
					<add name="學四小區@1排" value="學生&#xA;大區@學四@1" />
					<add name="學四小區@2排" value="學生&#xA;大區@學四@2" />
					<add name="學四小區@3排" value="學生&#xA;大區@學四@3" />
					<add name="學四小區@4排" value="學生&#xA;大區@學四@4" />
					<add name="大專區@1排" value="學生&#xA;大區@大專@1" />
					<add name="大專區@2排" value="學生&#xA;大區@大專@2" />
					<add name="大專區@3排" value="學生&#xA;大區@大專@3" />
				</排>
				<報表>
					<add name="社區" HeaderCols="2">
						<欄位>
							<add name="主日" value="主日人數@小計" />
							<add name="主日申言" value="主日人數@主日&#xA;申言" />
							<add name="主日：福音朋友" value="主日人數@福音&#xA;朋友" />
							<add name="家聚會" value="小排生活@家聚會@小計" />
							<add name="家聚會出訪" value="小排生活@家聚會@出訪" />
							<add name="家聚會受訪" value="小排生活@家聚會@受訪" />
							<add name="小排" value="小排生活@小排" />
							<add name="晨興" value="小排生活@晨興&#xA;晚興" />
							<add name="禱告" value="小排生活@禱告" />
							<add name="福音出訪" value="小排生活@福音@出訪" />
							<add name="福音受訪" value="小排生活@福音@受訪" />
							<add name="召會生活" value="召會&#xA;生活" />
							<add name="當週受浸" value="受浸統計@本週@受浸人數" />
							<add name="今年受浸" value="受浸統計@本年@受浸累計" />
						</欄位>
					</add>
					<add name="兒童" HeaderCols="1">
						<排>
							<add name="1-1小區" value="一大區@1@區小計" />
							<add name="1-2小區" value="一大區@2@區小計" />
							<add name="1-3小區" value="一大區@3@區小計" />
							<add name="1-4小區" value="一大區@4@區小計" />
							<add name="2-1小區" value="二大區@1@區小計" />
							<add name="2-2小區" value="二大區@2@區小計" />
							<add name="2-3小區" value="二大區@3@區小計" />
							<add name="2-4小區" value="二大區@4@區小計" />
						</排>
						<欄位>
							<add name="小排" value="兒童排&#xA;(兒童)" />
						</欄位>
					</add>
				</報表>
			</add>
		</會所>
    </transformConfiguration>
</configuration>