@model CERLLAB.Models.Menu
<div  class="menucontainer">
    <ul id="cerlmenu" class="cerlmenu" style="z-index:10000; position:relative;">
        @Html.DisplayFor(x => Model.RootNode)
    </ul>
</div>