@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>B2B Message Tracking</h1>
    <p class="lead">You can query and get EDI Rawdata from here!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Query Condition:<br />
            Message Id, Parent message Id, doc number, control number
        </p>
        <a class="btn btn-default" href="~/B2BMT/MT_DB/">Go to Message Tracking &raquo;</a>
    </div>
</div>

