<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- Test & Development Env. -->
    <add name="CERLDBContext" connectionString="Data Source=iec1-isdtest\mssql2008r2;Initial Catalog=CERL;User ID=cerldbo;PASSWORD=123" providerName="System.Data.SqlClient" />
    <add name="CERLEntities" connectionString="metadata=res://*/Models.CERLADO.csdl|res://*/Models.CERLADO.ssdl|res://*/Models.CERLADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iec1-isdtest\mssql2008r2;initial catalog=CERL;user id=cerldbo;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
    <!-- Production Env.
    <add name="CERLDBContext" connectionString="Data Source=IEC1-CUSTOMER\SQL2008R2;Initial Catalog=CERL;User ID=cerldbo;PASSWORD=123" providerName="System.Data.SqlClient" />
    <add name="CERLDBContext1" connectionString="Data Source=IEC1-CUSTOMER\SQL2008R2;Initial Catalog=CERL;User ID=cerldbo;PASSWORD=123" providerName="System.Data.SqlClient" />
    <add name="CERLEntities" connectionString="metadata=res://*/Models.CERLADO.csdl|res://*/Models.CERLADO.ssdl|res://*/Models.CERLADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IEC1-CUSTOMER\SQL2008R2;initial catalog=CERL;user id=cerldbo;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    
    
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UserFileDirectory" value="D:\project_files\CERLLAB\" />
    <add key="NetworkCredentialUserId" value="IEC\mdcadmin" />
    <add key="NetworkCredentialPWD" value="manager" />
    <add key="FcerlFlowCode" value="1001001" />
    <add key="AddAttachFcerlFlowCode" value="1001002" />
    <add key="MailFrom" value="ait@inventec.com" />
    <add key="MailBcc" value="wu.bryan@inventec.com" />
    <add key="EnableSimulationMode" value="false" />
    <add key="OutResultLimit" value="1000" />
    <add key="PageSize" value="150" />

    <!-- Development Env.-->
    <add key="WebFileDirectory" value="D:\SVN\MQALAB\SourceCode\CERLLAB\Files\" />
    <add key="WebSite" value="http://localhost:56614/CERLLAB" />
    <add key="WebRoot" value="/CERLLAB" />
    <add key="LabInformation" value="\\iec1-891652-w8\LabInformation" />
    <add key="MailServer" value="10.1.254.56" />
    <add key="MailTest" value="[供網站系統測試用，請忽略]" />
    <add key="RoutesWebSite" value="http://localhost:56491/Routes"/>
    
    <!-- Test Env. 
    <add key="WebFileDirectory" value="D:\inetpub\wwwroot\MQA\CERLLAB\Files\" />
    <add key="WebSite" value="http://iec1-aptest.iec.inventec/CERLLABDEV" />
    <add key="WebRoot" value="/CERLLABDEV" />
    <add key="LabInformation" value="http://iec1-aptest.iec.inventec/CERLLABDEV/LabInformation" />
    <add key="MailServer" value="10.1.254.56" />
    <add key="MailTest" value="[供網站系統測試用，請忽略]" />
    <add key="RoutesWebSite" value="http://iec1-aptest.iec.inventec/Routes" />
    -->
    <!-- Production Env.
    <add key="WebFileDirectory" value="C:\inetput\wwwroot\CERLLAB\Files\" />
    <add key="WebSite" value="http://iec1-apprd.iec.inventec/CERLLAB" />
    <add key="WebRoot" value="/CERLLAB" />
    <add key="LabInformation" value="http://iec1-apprd.iec.inventec/CERLLAB/LabInformation" />
    <add key="RoutesWebSite" value="http://iec1-apprd.iec.inventec/Routes" />
    <add key="MailServer" value="10.1.254.57" />
    <add key="MailTest" value="" />
    -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="20480" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=10" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>