@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Smart Shopping Demo Web Service</h2>
    <p class="lead">Called by client UWP App to get target device and beacon device data.</p>
</div>
