@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script type="text/javascript">

        window.onload = function () {
            //How to navigate from a Power BI Tile to the dashboard
            // listen for message to receive tile click messages.
            if (window.addEventListener) {
                window.addEventListener("message", receiveMessage, false);
            } else {
                window.attachEvent("onmessage", receiveMessage);
            }

            // handle server side post backs, optimize for reload scenarios
            // show embedded report if all fields were filled in.
            var accessToken = "@ViewBag.Token";
            if ("" !== accessToken)
                updateEmbedTile();
        };

        var width = 500;
        var height = 500;

        // The embedded report posts message for errors to parent window.  listen and handle as appropriate
        function receiveMessage(event)
        {
            if (event.data) {
                try {
                    messageData = JSON.parse(event.data);
                    if (messageData.event === "tileClicked") {
                        //Get IFrame source and construct dashboard url
                        iFrameSrc = document.getElementById(event.srcElement.iframe.id).src;

                        //Split IFrame source to get dashboard id
                        var dashboardId = iFrameSrc.split("dashboardId=")[1].split("&")[0];

                        //Get PowerBI service url
                        urlVal = iFrameSrc.split("/embed")[0] + "/dashboards/{0}";
                        urlVal = urlVal.replace("{0}", dashboardId);

                        window.open(urlVal);
                    }
                }
                catch (e) {
                    // In a production app, handle exception
                }
            }
        }


        // update embed tile
        function updateEmbedTile() {
            // Currently embeded tile only works for data created by REST API, and it can work for data from Azure SQL or Excel???
            // check if the embed url was selected
            //var embedTileUrl = "https://msit.powerbi.com/embed?dashboardId=4e02e5ba-93cc-41ee-a82e-dbfb69483782&tileId=34e5f689-6fdc-4fa8-942f-4a11dc4352a9";
            var embedTileUrl = "https://msit.powerbi.com/embed?dashboardId=1c6b21bd-6717-44d6-a2a4-503d3807fdb5&tileId=43548b45-ea6b-43b0-8ed9-88496d4ee194";
            if ("" === embedTileUrl)
                return;

            // to load a tile do the following:
            // 1: set the url, include size.
            // 2: add a onload handler to submit the auth token
            iframe = document.getElementById('iFrameEmbedTile');
            iframe.src =  embedTileUrl + "&width=" + width + "&height=" + height;
            iframe.onload = postActionLoadTile;
        }

        // post the auth token to the iFrame.
        function postActionLoadTile() {
            // get the access token.
            accessToken = "@ViewBag.Token";

            // return if no a
            if ("" === accessToken)
                return;

            var h = height;
            var w = width;

            // construct the push message structure
            var m = { action: "loadTile", accessToken: accessToken, height: h, width: w };
            message = JSON.stringify(m);

            // push the message.
            iframe = document.getElementById('iFrameEmbedTile');
            iframe.contentWindow.postMessage(message, "*");;
        }

    </script>
</head>
<body>
    <iframe ID="iFrameEmbedTile" src="" style="border: 0; position:fixed;top:0; left:0; right:0; bottom:0; width:100%; height:100%" />
</body>
</html>