@using KMSharepointSync.Models
@{
    ViewBag.Title = "AddKMFile";
    string Url = string.Empty;
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h3>@ViewBag.Message</h3>
    <p class="lead">
        Aquire KM Draft Document and New Document with Update JObject value.
        <br />
    </p>
    <p>
        <a href=@Url class="btn btn-primary btn-lg" target="_blank">@ViewBag.Title &raquo;</a>
    </p>
</div>


