<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://barcelonamedia.azurewebsites.net/Media</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>barcelonamedia.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BarcelonaMedia</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BarcelonaMedia</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:m9t32g0xev.database.windows.net,1433;Initial Catalog=Barcelona;Integrated Security=False;User ID=barcelonadbo@m9t32g0xev;Password=Iec+1234admin;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Barcelona.Models.DBContext, VS2012MVC4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:m9t32g0xev.database.windows.net,1433;Initial Catalog=Barcelona;Integrated Security=False;User ID=barcelonadbo@m9t32g0xev;Password=Iec+1234admin;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:m9t32g0xev.database.windows.net,1433;Initial Catalog=Barcelona;Integrated Security=False;User ID=barcelonadbo@m9t32g0xev;Password=Iec+1234admin;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:m9t32g0xev.database.windows.net,1433;Database=Barcelona;User ID=barcelonadbo@m9t32g0xev;Password=Iec+1234admin;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:m9t32g0xev.database.windows.net,1433;Initial Catalog=Barcelona;Integrated Security=False;User ID=barcelonadbo@m9t32g0xev;Password=Iec+1234admin;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:m9t32g0xev.database.windows.net,1433;Initial Catalog=Barcelona;Integrated Security=False;User ID=barcelonadbo@m9t32g0xev;Password=Iec+1234admin;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>