<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="oracle.dataaccess.client" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <!--<add key="DB" value="SqlServer"/>
    <add key="DB" value="OracleServer"/>
    -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PIDServer" value="PIDServer" />
    <add key="PIQServer" value="PIQServer" />
    <add key="PIPServer" value="PIPServer" />
    <add key="PIDUrl" value="http://iec1-pid:50000/b2bmt/rest/" />
    <add key="PIQUrl" value="http://iec1-piq:50000/b2bmt/rest/" />
    <add key="PIPUrl" value="http://iec1-pip:50000/b2bmt/rest/" />
    <add key="PIPConnStr" value="Data Source=PIP;User Id=b2bMT;Password=Tpesappi7;" />
    <add key="PIQConnStr" value="Data Source=PIQ;User Id=b2bMT;Password=Tpesappi7;" />
    <add key="PIDConnStr" value="Data Source=PID;User Id=b2bMT;Password=Tpesappi7;" />
    <add key="PRDConnStr" value="Data Source=B2BPROD;User Id=wm_track;Password=wm_track;" />
    <add key="QASConnStr" value="Data Source=B2BTEST;User Id=wm_track;Password=wm_track;" />
    <add key="DEVConnStr" value="Data Source=B2BTEST;User Id=wm_track_d;Password=wm_track_d;" />
    <add key="APAConnStr" value="Data Source=APA;User Id=SYSTEM;Password=zaq12wsx;" />
    <add key="APBConnStr" value="Data Source=APB;User Id=SYSTEM;Password=zaq12wsx;" />
    <add key="AEQConnStr" value="Data Source=AEQ;User Id=SYSTEM;Password=zaq12wsx;" />
    <add key="WMConnStr" value="Data Source=IEC1-ISDTEST.iec.inventec;User Id=xidbo;Password=xidbo;Initial Catalog=WebMethod" />
    <add key="wmPRDGetFileStr" value="http://10.8.100.28:5555/invoke/Inventec.Common.Util/GetTrackingFile?FileName=" />
    <add key="wmQASGetFileStr" value="http://10.8.100.107:5555/invoke/Inventec.Common.Util/GetTrackingFile?FileName=" />
    <add key="wmDEVGetFileStr" value="http://10.1.254.103:5555/invoke/Inventec.Common.Util/GetTrackingFile?FileName=" />
    <add key="XIQ" value="Data Source=XIQ;User Id=SEEMTDB;Password=zaq12wsx;" />
    <add key="XIP" value="Data Source=XIP;User Id=SEEMTDB;Password=SEEMTDB;" />
    <add key="Url" value="http://localhost/B2BService/RawData/" />

    <add key="MailFrom" value="IECEDISupport@inventec.com" />
    <add key="MailBcc" value="IECwMAdmin@inventec.com" />
    <add key="MailTo" value="EDI@inventec.com" />
    <!--<add key="MailTo" value="wu.bryan@inventec.com" />-->
    <add key="MailServer" value="10.15.1.194" />
    <!--<add key="MailTest" value="[系統測試，請忽略]" />-->
    <add key="MailTest" value="" />
    <add key="IsMailEnabled" value="true" />
    <add key="IsMailTest" value="false" />
    <add key="IsAlertTest" value="false" />
    <add key="IsWebPerfLogEnabled" value="false" />
    <add key="B2BDBPerfURL" value="http://iec1-b2bapp.iec.inventec/B2BService/Statistic/MonitorDB/" />
    <add key="MT_DB_PK" value="MSGID"/>
    <add key="TSQL_HINT" value="FIRST_ROWS(50) NO_CPU_COSTING"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true" />
    <httpRuntime targetFramework="4.5.2" />
    <!-- mode=[Windows|Forms|Passport|None] -->
    <authentication mode="None" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>

  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=9" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <!-- Remove in case this is already defined in machine.config -->
      <remove invariant="Oracle.DataAccess.Client" />
      <add name="Oracle Data Provider for .NET Version 11.1.0.6.0" invariant="Oracle.DataAccess.Client Version 11.1.0.6.0" description="Oracle Data Provider for .NET Version 11.1.0.6.0" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess,            Version=2.112.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <!-- Oracle DataAccess Clien設定參考文件
  https://docs.google.com/document/d/1o4pfCxeE3SMxF1_sbLfZSCgwdiwTAfl7eHaXdK6wfkg/edit?usp=sharing
    -->
  <oracle.dataaccess.client>
    <settings>
      <!-- production: iec1-b2bapp.iec.inventec -->
      <!-- <add name="DllPath" value="C:\app\IEC891652\product\11.2.0\client_2" /> -->
      
      <add name="DllPath" value="C:\app\client\bryan1201\product\12.1.0\client_1" />
      <add name="FetchSize" value="65536" />
      <add name="PromotableTransaction" value="promotable" />
      <add name="StatementCacheSize" value="10" />
      <add name="TraceFileName" value="c:\odpnet2.trc" />
      <add name="TraceLevel" value="0" />
      <add name="TraceOption" value="0" />
    </settings>
  </oracle.dataaccess.client>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>