<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="importConfiguration" type="ImportReport.Configuration.ImportSection, ImportReport" />
  </configSections>

  <importConfiguration seperator="@">
    <報表>
      <add name="主日人數@聖徒" value="LoadsDay1" />
      <add name="主日人數@福音&#xA;朋友" value="LoadsDay3" />
      <add name="主日人數@小計" value="LoadsDay" />
      <add name="主日人數@主日&#xA;申言" value="Prophecy" />
      <add name="小排生活@晨興&#xA;晚興" value="Revival" />
      <add name="小排生活@禱告" value="Prayer" />
      <add name="小排生活@福音@出訪" value="VisitNum" />
      <add name="小排生活@福音@受訪" value="VisitedNum" />
      <add name="小排生活@家聚會@出訪" value="HousingVisitNum" />
      <add name="小排生活@家聚會@受訪" value="HousingVisitedNum" />
      <add name="小排生活@家聚會@小計" value="Housing" />
      <add name="小排生活@小排" value="VitalGroups" />
      <add name="兒童排&#xA;(兒童)" value="ChildGroup" />
      <add name="主日&#xA;(兒童)" value="LoadsChild" />
      <add name="召會&#xA;生活" value="SaintNum" />
      <add name="受浸統計@本週@受浸人數" value="Baptized" />
    </報表>
    <會所>
      <add name="37" sourceTopHeaderRow="1" sourceTopSubHeaderRow="2" sourceTopHeaderCol="11" sourceLeftHeaderRow="4" sourceLeftHeaderCol="1" sourceLeftSubHeaderCol="2">
        <小區>
          <add name="一大區@1" value="37010100" />
          <add name="一大區@2" value="37010200" />
          <add name="一大區@3" value="37010300" />
          <add name="一大區@4" value="37010400" />
          <add name="一大區@5" value="37010500" />
          <add name="二大區@1" value="37020100" />
          <add name="二大區@2" value="37020200" />
          <add name="二大區@3" value="37020300" />
          <add name="二大區@4" value="37020400" />
          <add name="二大區@5" value="37020500" />
          <add name="二大區@6" value="37020600" />
          <add name="二大區@7" value="37020700" />
          <add name="三大區@1" value="37030100" />
          <add name="三大區@2" value="37030200" />
          <add name="三大區@3" value="37030300" />
          <add name="三大區@4" value="37030400" />
          <add name="三大區@5" value="37030500" />
          <add name="三大區@6" value="37030600" />
          <add name="三大區@7" value="37030700" />
          <add name="三大區@8" value="37030800" />
          <add name="三大區@9" value="37030900" />
        </小區>
      </add>
      <add name="60" sourceTopHeaderRow="1" sourceTopSubHeaderRow="2" sourceTopHeaderCol="11" sourceLeftHeaderRow="29" sourceLeftHeaderCol="1" sourceLeftSubHeaderCol="2">
        <小區>
          <add name="一大區@1" value="60010100" />
          <add name="一大區@2" value="60010200" />
          <add name="一大區@3" value="60010300" />
          <add name="二大區@1" value="60020100" />
          <add name="二大區@2" value="60020200" />
          <add name="二大區@3" value="60020300" />
          <add name="二大區@4" value="60020400" />
          <add name="三大區@1" value="60030100" />
          <add name="三大區@2" value="60030200" />
          <add name="三大區@3" value="60030300" />
          <add name="三大區@4" value="60030400" />
          <add name="學生&#xA;大區@學一" value="60090100" />
          <add name="學生&#xA;大區@學二" value="60090200" />
          <add name="學生&#xA;大區@學三" value="60090300" />
          <add name="學生&#xA;大區@學四" value="60090400" />
          <add name="學生&#xA;大區@大專" value="60090900" />
          <add name="學生&#xA;大區@青職" value="60091000" />
        </小區>
      </add>
      <add name="61" sourceTopHeaderRow="1" sourceTopSubHeaderRow="2" sourceTopHeaderCol="11" sourceLeftHeaderRow="52" sourceLeftHeaderCol="1" sourceLeftSubHeaderCol="2">
        <小區>
          <add name="一大區@1" value="61010100" />
          <add name="一大區@2" value="61010200" />
          <add name="一大區@3" value="61010300" />
          <add name="一大區@4" value="61010400" />
          <add name="一大區@5" value="61010500" />
          <add name="一大區@6" value="61010600" />
          <add name="二大區@1" value="61020100" />
          <add name="二大區@2" value="61020200" />
          <add name="二大區@3" value="61020300" />
          <add name="二大區@4" value="61020400" />
          <add name="二大區@5" value="61020500" />
          <add name="二大區@6" value="61020600" />
          <add name="三大區@1" value="61030100" />
          <add name="三大區@2" value="61030200" />
          <add name="三大區@3" value="61030300" />
          <add name="三大區@4" value="61030400" />
          <add name="學生&#xA;大區@學一" value="61090100" />
        </小區>
      </add>
      <add name="12" sourceTopHeaderRow="1" sourceTopSubHeaderRow="2" sourceTopHeaderCol="11" sourceLeftHeaderRow="72" sourceLeftHeaderCol="1" sourceLeftSubHeaderCol="2">
        <小區>
          <add name="三大區@1" value="12030100" />
          <add name="三大區@2" value="12030200" />
          <add name="三大區@3" value="12030300" />
          <add name="三大區@4" value="12030400" />
          <add name="三大區@5" value="12030500" />
          <add name="三大區@6" value="12030600" />
          <add name="三大區@7" value="12030700" />
          <add name="四大區@1" value="12040100" />
          <add name="四大區@2" value="12040200" />
          <add name="四大區@3" value="12040300" />
          <add name="四大區@4" value="12040400" />
          <add name="四大區@5" value="12040500" />
          <add name="四大區@6" value="12040600" />
          <add name="四大區@7" value="12040700" />
          <add name="學生&#xA;大區@學一" value="12090100" />
        </小區>
      </add>
      <add name="36" sourceTopHeaderRow="1" sourceTopSubHeaderRow="2" sourceTopHeaderCol="11" sourceLeftHeaderRow="91" sourceLeftHeaderCol="1" sourceLeftSubHeaderCol="2">
        <小區>
          <add name="社區@1" value="36010100" />
          <add name="社區@2" value="36010200" />
          <add name="社區@3" value="36010300" />
          <add name="社區@4" value="36010400" />
          <add name="社區@5" value="36010500" />
          <add name="學生&#xA;大區@學一&#xA;(社區)" value="36090100" />
          <add name="學生&#xA;大區@學二&#xA;(校園)" value="36090200" />
        </小區>
      </add>
    </會所>
  </importConfiguration>
</configuration>